.card {
	background: #f7f7f7;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #ccc;
	padding: 2vh;
	margin: 5vh 0;
}

.card .header {
	height: 50px;
	border-bottom: solid 1px #000;
	margin-bottom: 2vh;
}

.card .header p {
	margin: 0;
	font-size: 4vh;
}

.card .body .item-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .5vh;
}

.card .body .item-group img {
	width: 48px;
	height: 48px;
}

.card .body .item-group div {
	width: 80%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.card .body p {
	margin-top: 0;
	text-align: right;
	font-size: 2.5vh;
	line-height: 2.5vh;
	margin-bottom: 2vh;
}

.card .body hr {
	width: 50%;
	margin: 2vh auto;
	border-color: rgba(0, 0, 0, .1);
}

.card .footer {
	border-top: solid 1px #000;
	margin-top: 2vh;
	display: flex;
	padding: 2vh 0;
	justify-content: flex-end;
}

.footer span {
	display: block;
	padding: 1vh;
	border: solid 1px green;
	border-radius: 10px;
	cursor: pointer;
	user-select: none;
	align-self: center;
	transition: .2s ease-in-out;
	opacity: 1;
	height: 25px;
}

.footer .button {
	z-index: 1;
	width: 98px;
}

.footer .button:hover {
	width: 100%;
	opacity: 0;
	transition: .2s ease-in-out;
}

.footer .button:hover+.number {
	opacity: 1;
	transition: .3s ease-in-out;
	animation-delay: .3s;

}

.footer .number {
	position: absolute;
	opacity: 0;
	transition: .3s ease-in-out;
	overflow: hidden;
	white-space: nowrap;
	background-color: green;
	color: #f7f7f7;
}
